/* Variables */
:root {
  --white: #fff;
  --shadow: rgba(0, 0, 0, 0.1);
}

.map-wrapper {
  background-color: var(--white);
  border-radius: 1.5rem;
  box-shadow: 0 5px 15px var(--shadow);
  overflow: hidden;
  height: 500px;
  width: 100%;
}

/* Personalizar el InfoWindow de Google Maps */
.gm-style .gm-style-iw-c {
  border-radius: 0.8rem !important;
  padding: 0 !important;
}

.gm-style .gm-style-iw-d {
  overflow: hidden !important;
}

/* Botón de cierre del InfoWindow */
.gm-style .gm-ui-hover-effect {
  top: 3px !important;
  right: 3px !important;
}


